*{
    padding: 0;
    margin: 0;
}
.nav-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #021128;
}
ul{
    display: flex;
    width: 500px;
    margin-right: 100px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: aliceblue;
    font-family: "Lato", sans-serif;
}
li{
  margin-right: 50px;  
}
.button-nav{
    color:#021128 ;
    background: #9EE493;
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 20px;
}